<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>

  <body>
<%= render partial: "share/navbar" %>

  <% if notice %>
    <div class="container"> <p class="alert alert-success text-center msg"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger text-center msg"><%= alert %></p></div>
    <% end %>

    

    <%= yield %>
  </body>
</html>
